<table id="programsAndFriendsPanel">
	<tr>
		<td style="vertical-align:top;">
			<div class="h1">
				Your programs
			</div>

			<div id="programsList">
				<% if !@my_programs %>
					You have no programs yet.
				<% else %>
					<% for p in @my_programs.sort { |a,b| a.name.downcase <=> b.name.downcase } %>
						<img id="delete-program-<%=User.current_user.name-%>-<%=p.name-%>" class="closeIcon programDeleteButton" src="/images/tabclose.png" onclick="codeDeleteById(<%= p.id %>)"/>
						<a id="load-program-<%=User.current_user.name-%>-<%=p.name-%>" onclick="codeLoad(<%=p.id-%>)"><%= p.name -%></a><br/>
					<% end %>
				<% end %>
			</div>
		</td>

		<td style="vertical-align:top;">
			<div class="h1">
				Your friends' programs
			</div>

			<div id="friendsList">
				<% if !@friends_programs %>
					You have no friends yet.
				<% else %>
					<% @friends_programs.each do |record| %>
						<div class="indent10">
							<div class="friendName">
								<img id="delete-friend-<%=record[:user_name]-%>" class="closeIcon friendDeleteButton" src="/images/tabclose.png" onclick="codeFriendDeleteById(<%= record[:user_id] %>)"/>
								<%= record[:user_name] -%>
							</div>
							<div class="friendPrograms">
								<% for p in record[:programs] %>
									<div style="min-height:18px;">
										<a onclick="codeLoad(<%=p[:program_id]-%>)"><%= p[:program_name] -%></a><br/>
									</div>
								<% end %>
							</div>
						</div>
					<% end %>
				<% end %>
			</div>
		</td>

		<td style="vertical-align:top;">
			<div class="h1">
				Recent programs
			</div>

			<div id="">
				<% for p in @recent_programs %>
					<img id="delete-program-<%=User.current_user.name-%>-<%=p.name-%>" class="closeIcon programDeleteButton" src="/images/tabclose.png" onclick="codeDeleteById(<%= p.id %>)"/>
					<a id="load-program-<%=User.current_user.name-%>-<%=p.name-%>" onclick="codeLoad(<%=p.id-%>)"><%= p.name -%></a><br/>
				<% end %>
			</div>
		</td>
	<tr>
</table>


