<table id="programsAndFriendsPanel">
	<tr>
		<td style="vertical-align:top; width:50%;">
			<div class="h1">
				Your programs
			</div>

			<div id="programsList">
				<% if @programs.length == 0 %>
					You have no programs yet.
				<% else %>
					<% for p in @programs.sort { |a,b| a.name.downcase <=> b.name.downcase } %>
						<img id="delete-program-<%=User.current_user.name-%>-<%=p.name-%>" class="closeIcon programDeleteButton" src="/images/tabclose.png" onclick="programsDeleteById(<%= p.id %>)"/>
						<a id="load-program-<%=User.current_user.name-%>-<%=p.name-%>" onclick="programsOpenById(<%=p.id-%>)"><%= p.name -%></a><br/>
					<% end %>
				<% end %>
			</div>
		</td>
		<td style="vertical-align:top; width:50%;">
			<div class="h1">
				Your friends' programs
			</div>

			<div id="friendsList">
				<% if @friends.length == 0 %>
					You have no friends yet.
				<% else %>
					<% for f in @friends.sort { |a,b| a.name.downcase <=> b.name.downcase } %>
						<div class="indent10">
							<div class="friendName">
								<img id="delete-friend-<%=f.name-%>" class="closeIcon friendDeleteButton" src="/images/tabclose.png" onclick="programsFriendDeleteById(<%= f.id %>)"/>
								<%= f.name -%>
							</div>
							<div class="friendPrograms">
								<% for p in f.programs.sort { |a,b| a.name.downcase <=> b.name.downcase } %>
									<a onclick="programsOpenById(<%=p.id-%>)"><%= p.name -%></a><br/>
								<% end %>
							</div>
						</div>
					<% end %>
				<% end %>
			</div>
		</td>
	<tr>
</table>

