<table id="programsAndFriendsPanel" cellspacing="10">
	<tr>
		<td style="vertical-align:top; border-right:1px dotted gray; min-width:200px;">
			<div class="h1">
				Your programs
			</div>

			<div id="programsList">
				<% if ! @user %>
					Login to see your programs
				<% else %>
					<% if !@my_programs || @my_programs.length == 0 %>
						You have no programs yet.
					<% else %>
						<table>
							<% for p in @my_programs.sort { |a,b| a.name.downcase <=> b.name.downcase } %>
								<tr style="height:32px;">
									<td>
										<% if p.icon %>
											<img id="icon-<%=p.id-%>" src="/programs/icon/<%=p.id-%>" style="width:32px; height:32px;">
										<% end %>
									</td>
									<td>
										<img id="delete-program-<%=User.current_user.name-%>-<%=p.name-%>" class="closeIcon programDeleteButton" src="/images/tabclose.png" onclick="codeDeleteById(<%= p.id %>)"/>
									</td>
									<td>
										<a class="codeLoadName" id="load-program-<%=User.current_user.name-%>-<%=p.name-%>" onclick="codeGoto(<%=p.id-%>)" programId="<%=p.id-%>"><%= p.name -%></a><br/>
									</td>
								</tr>
							<% end %>
						</table>
					<% end %>
				<% end %>
			</div>
		</td>

		<td style="vertical-align:top; border-right:1px dotted gray;">
			<div class="h1">
				Your friends' programs
			</div>

			<div id="friendsList">
				<% if ! @user %>
					Login to see your friends
				<% else %>
					<% if !@friends_programs || @friends_programs.length==0 %>
						You have no friends yet.
					<% else %>
						<% @friends_programs.each do |record| %>
							<div>
								<div class="friendName author">
									<img id="delete-friend-<%=record[:user_name]-%>" class="closeIcon friendDeleteButton" src="/images/tabclose.png" onclick="codeFriendDeleteById(<%= record[:user_id] %>)"/>
									<span onclick="codeProgramsByUser(<%=record[:user_id]-%>)"><%= record[:user_name] -%></span>
								</div>
								<div class="friendPrograms">
									<% for p in record[:programs] %>
										<div style="min-height:18px;">
											<a onclick="codeGoto(<%=p[:program_id]-%>)"><%= p[:program_name] -%></a><br/>
										</div>
									<% end %>
								</div>
							</div>
						<% end %>
					<% end %>
				<% end %>
			</div>
		</td>

		<td style="vertical-align:top; border-right:1px dotted gray;">
			<div class="h1">
				New programs
			</div>

			<div class="indent10">
				<% for p in @new_programs %>
					<div style="min-height:18px;">
						<a id="load-program-<%= p.user_name -%>-<%=p.name-%>" onclick="codeGoto(<%=p.id-%>)"><%= p.name -%></a> by <span class="author" onclick="codeProgramsByUser(<%=p.user_id-%>)"><%= p.user_name -%></span><br/>
					</div>
				<% end %>
			</div>
		</td>

		<td style="vertical-align:top; border-right:1px dotted gray;">
			<div class="h1">
				Recent Edits
			</div>

			<div class="indent10">
				<% for p in @recent_programs %>
					<div style="min-height:18px;">
						<a id="load-program-<%= p.user_name -%>-<%=p.name-%>" onclick="codeGoto(<%=p.id-%>)"><%= p.name -%></a> by <span class="author" onclick="codeProgramsByUser(<%=p.user_id-%>)"><%= p.user_name -%></span>
						<%= time_to_ago_string( p.updated_at ) -%>    
						<br/>
					</div>
				<% end %>
			</div>
		</td>

		<td id="codeProgramsByUser" style="vertical-align:top;">
		</td>
	<tr>
</table>


