<div class="h1">
	Programs&nbsp;by&nbsp;<%= @programs_for_user_name -%>
</div>
<div class="indent10">
	<% for p in @programs %>
		<div>
			<a class="codeLoadName" programId="<%=p.id-%>" id="load-program-<%= p.user.name -%>-<%=p.name-%>" onclick="codeGoto(<%=p.id-%>)"><%= p.name -%></a></span>    
			<br/>
		</div>
	<% end %>
</div>
