<script type="text/javascript">
	$(document).ready( function() {
		$("#mainTabs").tabs();

		$("#mainTabs").bind( 'tabsshow', function(event, ui) {
			if( event.target.id != "mainTabs" ) {
				return;
			}
			if( ui.panel.id == 'codePanel' ) {
				codeTabSelected();
			}
			if( ui.panel.id == 'discussPanel' ) {
				discussTabSelected();
			}
			if( ui.panel.id == 'helpPanel' ) {
				helpTabSelected();
			}
			if( ui.panel.id == 'artPanel' ) {
				artTabSelected();
			}

			setCookie( "mainTabsSelected", ui.index );
		});

		var tab = getCookie( "mainTabsSelected" );
		if( typeof(tab) != "undefined" ) {
			$("#mainTabs").tabs( "select", parseInt(tab) );
		}
	});

	function mainTabsSelect( which ) {
		$("#mainTabs").tabs( "select", "#"+which );
	}

</script>

<div id="programToLoad" style="display:none;"><%=@program_to_load-%></div>

<div id="mainTabs">
	<ul>
		<li><a href="#homePanel"><span class="tabLabel">Home</span></a></li>
		<li><a href="#tutorialsPanel"><span class="tabLabel">Tutorials</span></a></li>
		<li><a href="#codePanel"><span class="tabLabel">Code</span></a></li>
		<% if false %>
			<li><a href="#discussPanel"><span class="tabLabel">Discuss</span></a></li>
		<% end %>
		<li><a href="#helpPanel"><span class="tabLabel">Help</span></a></li>
		<li><a href="#artPanel"><span class="tabLabel">Art</span></a></li>
	</ul>

	<div>
		<div id="homePanel">
			<%= render 'home_panel.html' %>
		</div>
	
		<div id="tutorialsPanel">
			<%= render 'tutorials_panel.html' %>
		</div>

		<div id="codePanel">
			<%= render 'code_panel.html' %>
		</div>
		
		<% if false %>
			<div id="discussPanel">
				<%= render 'discuss_panel.html' %>
			</div>
		<% end %>
		
		<div id="helpPanel">
			<%= render 'help_panel.html' %>
		</div>
		
		<div id="artPanel">
			<%= render 'art_panel.html' %>
		</div>
		
	</div>
</div>
