<script type="text/javascript">
	$(document).ready( function() {
		$("#mainTabs").tabs();

		// To avoid FOUC
		$("#mainDocumentDiv").css( "display", "block" );

		// Sometimes tabsshow isn't getting called.  Example.  Go to home tab.  Press reload. Switch to code. -- it doesn't call tabsshow
		// as a result, the code isn't getting a resize call on it's first invokation
		// To deal with this, we call have to dupliacte some of the tabsshow logic here

		var programToLoad = $("#programToLoad").html();
		if( programToLoad ) {
			codeLoad( programToLoad );
			mainTabsSelect( "codePanel" );
			codeTabSelected();
		}
		else {
			var tab = getCookie( "mainTabsSelected" );
			if( typeof(tab) != "undefined" ) {
				if( tab == 0 ) {
					homeTabSelected();
				}
				if( tab == 2 ) {
					var lastLoadedProgramId = getCookie( "lastLoadedProgramId" );
					if( lastLoadedProgramId ) {
						codeLoad( lastLoadedProgramId );
					}
					codeTabSelected();
				}
			}
		}

		$("#mainTabs").bind( 'tabsshow', function(event, ui) {
			if( event.target.id != "mainTabs" ) {
				return;
			}
			if( ui.panel.id == 'homePanel' ) {
				homeTabSelected();
			}
			else {
				$("#homePageIframe").remove();

				if( ui.panel.id == 'codePanel' ) {
					codeTabSelected();
				}
				else if( ui.panel.id == 'discussPanel' ) {
					discussTabSelected();
				}
				else if( ui.panel.id == 'helpPanel' ) {
					helpTabSelected();
				}
				else if( ui.panel.id == 'artPanel' ) {
					artTabSelected();
				}
			}

			setCookie( "mainTabsSelected", ui.index );
		});

		var programToLoad = $("#programToLoad").html();
		if( programToLoad ) {
			codeLoad( programToLoad );
			mainTabsSelect( "codePanel" );
		}
		else {
			var tab = getCookie( "mainTabsSelected" );
			if( typeof(tab) != "undefined" ) {
				$("#mainTabs").tabs( "select", parseInt(tab) );
			}

			var lastLoadedProgramId = getCookie( "lastLoadedProgramId" );
			if( lastLoadedProgramId ) {
				codeLoad( lastLoadedProgramId );
			}
		}
	});

	function mainTabsSelect( which ) {
		$("#mainTabs").tabs( "select", "#"+which );
	}
	
	function homeTabSelected() {
		$("#homePageIframeContainer").html( "<iframe id='homePageIframe' src='/embed/28' style='width:380px; height:380px; border:none;'></iframe>" );
	}

</script>

<div id="programToLoad" style="display:none;"><%=@program_to_load-%></div>

<div id="mainTabs">
	<ul>
		<li><a href="#homePanel"><span class="tabLabel">Home</span></a></li>
		<li><a href="#tutorialsPanel"><span class="tabLabel">Tutorials</span></a></li>
		<li><a href="#codePanel"><span class="tabLabel">Code</span></a></li>
		<% if false %>
			<li><a href="#discussPanel"><span class="tabLabel">Discuss</span></a></li>
		<% end %>
		<li><a href="#helpPanel"><span class="tabLabel">Help</span></a></li>
		<li><a href="#artPanel"><span class="tabLabel">Art</span></a></li>
	</ul>

	<div>
		<div id="homePanel">
			<%= render 'home_panel.html' %>
		</div>
	
		<div id="tutorialsPanel">
			<%= render 'tutorials_panel.html' %>
		</div>

		<div id="codePanel">
			<%= render 'code_panel.html' %>
		</div>
		
		<% if false %>
			<div id="discussPanel">
				<%= render 'discuss_panel.html' %>
			</div>
		<% end %>
		
		<div id="helpPanel">
			<%= render 'help_panel.html' %>
		</div>
		
		<div id="artPanel">
			<%= render 'art_panel.html' %>
		</div>
		
	</div>
</div>
