<script type="text/javascript">
	$(document).ready( function() {
		$("#mainTabs").tabs();

		// TEMP HACK until I figure out why the tabsshow is not getting called on startup
		programsTabSelected();
		discussTabSelected();
		codeTabSelected();
		helpTabSelected();
		artTabSelected();
		// END HACK

		$("#mainTabs").bind( 'tabsshow', function(event, ui) {
			if( event.target.id != "mainTabs" ) {
				return;
			}
			if( ui.panel.id == 'codePanel' ) {
				codeTabSelected();
			}
			if( ui.panel.id == 'programsPanel' ) {
				programsTabSelected();
			}
			if( ui.panel.id == 'discussPanel' ) {
				discussTabSelected();
			}
			if( ui.panel.id == 'helpPanel' ) {
				helpTabSelected();
			}
			if( ui.panel.id == 'artPanel' ) {
				artTabSelected();
			}

			setCookie( "mainTabsSelected", ui.index );
		});

		var tab = getCookie( "mainTabsSelected" );
		if( typeof(tab) != "undefined" ) {
			$("#mainTabs").tabs( "select", parseInt(tab) );
		}
	});

	function mainTabsSelect( which ) {
		$("#mainTabs").tabs( "select", "#"+which );
	}

</script>

<div id="programToLoad" style="display:none;"><%=@program_to_load-%></div>

<div id="mainTabs">
	<ul>
		<li><a href="#homePanel"><span class="tabLabel">Home</span></a></li>
		<li><a href="#codePanel"><span class="tabLabel">Code</span></a></li>
		<li><a href="#programsPanel"><span class="tabLabel">Programs</span></a></li>
		<li><a href="#functionsPanel"><span class="tabLabel">Globals</span></a></li>
		<li><a href="#discussPanel"><span class="tabLabel">Discuss</span></a></li>
		<li><a href="#helpPanel"><span class="tabLabel">Help</span></a></li>
		<li><a href="#artPanel"><span class="tabLabel">Art</span></a></li>
		<li><a href="#tutorialsPanel"><span class="tabLabel">Tutorials</span></a></li>
	</ul>

	<div>
		<div id="homePanel">
			<%= render 'home_panel.html' %>
		</div>
	
		<div id="codePanel">
			<%= render 'code_panel.html' %>
		</div>
		
		<div id="programsPanel">
			<%= render 'programs_panel.html' %>
		</div>

		<div id="functionsPanel">
			Public funcions will go here
		</div>

		<div id="discussPanel">
			<%= render 'discuss_panel.html' %>
		</div>

		<div id="helpPanel">
			<%= render 'help_panel.html' %>
		</div>
		
		<div id="artPanel">
			<%= render 'art_panel.html' %>
		</div>

		<div id="tutorialsPanel">
			<%= render 'tutorials_panel.html' %>
		</div>
		
	</div>
</div>
